- if records.present?
  %table.user-records.table
    %tr
      %th Day
      %th Trick
      %th Record
      %th Comment
      %th User
      %th View
    - records.each do |record|
      = link_to record_path(record) do
        %tr
          %td #{record.date}
          %td
            = link_to trick_path(id: record.trick, number: record.number, category_id: record.category) do
              #{record.number} #{record.category.material} #{record.trick.name}
          %td #{record.catch} キャッチ
          %td
            - if record.text.present?
              #{record.text}
          %td
            = link_to "#{record.user.name} さん", user_path(record.user)
          %td
            = link_to record_path(record) do
              = fa_icon "external-link-square"
