%h1 練習記録をみる
%ul
  = form_tag records_tricks_path, method: :get do
    = select_tag :number, options_for_select(@numbers, selected: 3)
    = select_tag :category_id, options_for_select(Category.all.map do |cate| [cate.material, cate.id] end)
    = select_tag :trick_id, options_for_select(@tricks.map do |tri| [tri.name, tri.id] end)
    %br
    %br
    = submit_tag "検索する", class: "btn btn-info btn-lg"

- if flash[:notice]
  %p= flash[:notice]

%h1 説明
%ol
  %li あなたが登録したデータを見ることができます。
  %li 入力するとヒストグラムで表示されます。
  %li 練習記録を可視化して、お楽しみください。
  %li データ量が増えるにつれて、グラフが成長していきます！
