= provide(:title, "コメントする")

%h2 記事にコメントをする
%p 良いねと思ったら気持ちを伝えてみましょう！

- if @article_comment.errors.any?
  #error_explanation
    %h2= "保存できませんでした"
    %ul
      - @article_comment.errors.full_messages.each do |msg|
        %li= msg

= form_for [@article, @article_comment] do |f|
  .form-group
    = f.text_area :text, placeholder: "コメントを書いてください(3000文字以内)", autofocus: true, class:"form-control"
  = f.submit "コメントを投稿する", class:"btn btn-primary"
