= provide(:title, "コメントする")

%h3 コメントを書く

- if @comment.errors.any?
  #error_explanation
    %h2= "保存できませんでした"
    %ul
      - @comment.errors.full_messages.each do |msg|
        %li= msg

= form_for [@record, @comment] do |f|
  .form-group
    = f.text_area :text, placeholder:"ここにコメントを入力してください。1000文字まで入力できます。", autofocus: true, size:"50x10", class:"form-control"
  = f.submit "コメントを投稿する", class:"btn btn-primary"
