= provide(:title, "記事を書く")
%h2 記事を書く
%p ジャグリングについて、なんでもおもったことを書いてみましょう。
%p 記事は公開されます。

%h2 書き方について
%ol
  %li #見出し と書くと、その行は見出しになります！
  %li htmlタグはセキュリティ上使用できません。
  %li 機種依存文字は使えません。

- if @article.errors.any?
  #error_explanation
    %h2= "保存できませんでした"
    %ul
      - @article.errors.full_messages.each do |msg|
        %li= msg
= form_for @article do |f|
  .form-group
    = f.label :title, "タイトル(必須)"
    = f.text_field :title, placeholder: "128文字まで入力できます", autofocus: true, class:"form-control"
  .from-group
    = f.label :text, "本文(必須)"
    = f.text_area :text, placeholder: "30000文字まで入力できます", class:"form-control", size:"50x10"
  %br
  = f.submit "記事を投稿する", class:"btn btn-primary"
