%h1 記事を書く
%p ジャグリングについて、なんでもおもったことを書いてみましょう！

%h2 書き方について
%ol
  %li #見出し と書くと、その行は見出しになります！
  %li htmlタグはセキュリティ上使用できません。
  %li 機種依存文字を使うと、登録時にエラー

= form_for @article do |f|
  = f.label :title, "タイトル"
  %br
  = f.text_field :title, autofocus: true, class:"article-title"
  %br
  = f.label :text, "本文"
  %br
  = f.text_area :text, class:"article-text"
  %br
  = f.submit "記事を投稿する"
