%h1=  @article.title
#article-text= simple_format(@article.text)
= link_to "この記事にコメントする", new_article_article_comment_path(@article)
%ul
  - if @article_comments
    - @article_comments.each do |comment|
      %li= comment.user.name
      %li= simple_format(comment.text)
