- if articles.present?
  %table.table
    %tr
      %th Day
      %th Title
      %th Detail
      %th Text
      %th User
    - articles.each do |article|
      %tr
        %td
          = link_to article_path(article) do
            = article.created_at.strftime("%Y-%m-%d")
        %td
          = link_to article_path(article) do
            = truncate(article.title, length: 10)
        %td
          = link_to article_path(article) do
            = fa_icon "external-link-square"
        %td
          = link_to article_path(article) do
            = truncate(article.text, length: 100)
        %td= link_to "#{article.user.name} さん", user_path(article.user)
