= provide(:title, "About")

//ABOUTです

%h2 これは何のウェブアプリ？
%p ジャグリングの練習成果を記録し、あなたの成長をグラフで可視化できるアプリです！
%p 練習成果や思ったことを共有して、モチベーション向上に役立てましょう！
%h2 お金かかるの？
%p 無料です！ 有料化する予定もありません。
%h2 本当に匿名なの？
%p 個人情報の登録も一切不要です。
%h2 ウェブアプリ？
%p このようにダウンロードせずにウェブで動くアプリをウェブアプリと言います。
%p safariやchromeなどのブラウザで動きます。
%h2 ジャグリングとは？？
%p
  ジャグリングってそもそも何？？？ という方はこちらの動画を見てください。
%p
  = link_to "https://youtu.be/T3EMVBkOCVg" do
    =fa_icon "youtube"
    %span 動画を見る
%h2 開発中の画面
%p 練習成果が一目でわかり、誰かと比較することもできます(比較機能は開発中)。
%p= image_tag 'sample.jpg', alt:"開発中の画面１", width:"300px"
%h2 練習成果の登録
%p 練習成果は簡単に登録でき、他の人の投稿にコメントすることもできます！
%h2 記事の投稿
%p 記事を書いて、自分の思ったことや、やっていることを人に伝えることができます。
%h2 このウェブアプリの目的
%p もともとジャグリングについていろいろ情報発信をしたいと思っていたんですが、自分でブログを書いて発信するのはハードルが高すぎます。
%p あとグラフで可視化できるサイトは今まで無かったです！
%p これを誰でも簡単にできることを目指したのがこのサイトです。
%p 日本のジャグリング情報をここに集約すること！
%h2 誰が作ってるの？
%p 開発者についてはこちらをお読みください！
=link_to '作っている人のプロフィール', user_path(1)
%h2 動作環境について
%p 基本的にはJavaScriptが有効になっていれば問題なく動くと思います。
%p iPhone7(safari)、Macbook eary2016(chrome)で問題なく動くことを確認しています！
%p bootstrapというフロントエンドWebアプリケーションフレームワークによって、様々な環境からの最低限のレイアウトを保証しています。
%p 表示環境やウィンドウ・モニタのサイズによってはうまく表示できない可能性があります。
%h2 関連リンク
%h3= link_to 'ジャグリングのやり方WEB版', "http://juggle.sakura.ne.jp/"
%p 兄弟サイトです。htmlとcssの練習で作りました。
%h3= link_to 'ジャグリングのやり方YOUTUBE版', "https://www.youtube.com/channel/UC58ySpPSJj601F5uAwpSu8A"
%p 基本技を動画で解説しています。基本的に仮面かぶっています。
