//TOPページです//
%h1 メニュー
%p データの登録と閲覧ができます。
%p= link_to '登録する', new_record_path
%p= link_to '練習記録をみる', tricks_path
%h1 みんなのマイページ
%p 他の利用者のページがみれます。
%p= link_to '利用者一覧をみる', users_path
%h1 気になる投稿
%p あなたがフォローしているユーザーの最近の投稿です。
%h1 みんなの記録
%p 最近投稿された記録です。
- if @records.present?
  %table.user-records.table
    %tr
      %th Day
      %th Trick
      %th Record
      %th User
      %th Comment
    - @records.each do |record|
      = link_to record_path(record) do
        %tr
          %td #{record.date}
          %td
            #{record.number} #{record.category.material} #{record.trick.name}
          %td #{record.catch} キャッチ
          %td
            - if record.text.present?
              #{record.text}
          %td
            #{record.user.name} さん
  %p= link_to 'もっと見る', records_records_path
%h1 みんなの投稿
%p 最近投稿された記事です。
%ul
  - if @articles.present?
    - @articles.each do |article|
      %li= link_to article.title, article_path(article)
%p= link_to 'もっと見る', articles_path
