//中央にあるモデルはindexだと思うからrecords#index
//TOPページです//

= link_to new_record_path do
  = image_tag 'gazo4.jpg', class:"top-image"
.top-nav
  = link_to new_record_path do
    = fa_icon 'floppy-o'
    %span 練習成果を記録をする
  %span.after-second
    = link_to search_records_path(all: "show") do
      = fa_icon 'list'
      %span 練習成果をみる
    = link_to "https://youtu.be/T3EMVBkOCVg" do
      =fa_icon "youtube"
      %span 動画を見る
    = link_to users_path do
      = fa_icon 'list'
      %span 利用者一覧を見る
.under-nav
  = link_to search_records_path(all: "show") do
    %h3.float-left
      %span.font-bk 最近の記録
      = fa_icon "external-link-square"
  = render partial:"tricks/detail", locals: { records: @records }
  = link_to articles_path do
    %h3.float-left
      %span.font-bk 最近書かれた記事
      = fa_icon "external-link-square"
  = render partial:"articles/article-list", locals: { articles: @articles}
