%h1 メニュー
%p データの登録と閲覧ができます。
%p= link_to '登録する', new_record_path
%p= link_to '練習記録をみる', tricks_path
%h1 みんなのマイページ
%p 他の利用者のページがみれます。
%p= link_to '利用者一覧をみる', users_path
%h1 ランキング
%p 人気技のランキングです。
%h1 最近のコメント
%ul
  - @comments.each do |comment|
    = link_to comment.user.name, user_path(comment.user)
    %p= comment.text
%p= link_to 'もっと見る', comments_path
%h1 投稿された記事
%ul
  - @article.each do |article|
    %li= link_to article.title, article_path(article)
