//中央にあるモデルはindexだと思うからrecords#index
//TOPページです//

= image_tag 'gazo4.jpg', class:"top-image"
.top-nav
  - if user_signed_in?
    = link_to new_record_path do
      = fa_icon 'floppy-o'
      %span 練習成果を記録をする
    %span.after-second
      = link_to search_records_path(all: "show") do
        = fa_icon 'list'
        %span 練習成果をみる
      = link_to "https://youtu.be/T3EMVBkOCVg" do
        =fa_icon "youtube"
        %span 動画を見る
      = link_to users_path do
        = fa_icon 'list'
        %span 利用者一覧を見る
%h3 最近の記録
= render partial:"tricks/detail", locals: { records: @records }
%p
  = link_to search_records_path(all: "show") do
    %span もっと見る
    = fa_icon "external-link-square"
%h3 最近書かれた記事
= render partial:"articles/article-list", locals: { articles: @articles}
%p
  = link_to articles_path do
    %span もっと見る
    = fa_icon "external-link-square"
