= provide(:title, "練習成果を記録する")

//登録

%h2 練習成果を記録する！
- if @record.errors.any?
  #error_explanation
    %h2= "保存できませんでした"
    %ul
      - @record.errors.full_messages.each do |msg|
        %li= msg
= form_tag "/records", method: :post do
  = label :date, "達成日"
  %br
  = date_field_tag :date, Date.today
  %br
  %br
  = select_tag :number, options_for_select(1..13, {selected: 3})
  = select_tag :category_id, options_for_select(Category.all.map do |cate| [cate.material, cate.id] end)
  = select_tag :trick_id, options_for_select(@tricks.map do |tri| [tri.name, tri.id] end)
  %br
  %br
  .form-group
    = label :catch, "キャッチ数を入力してください"
    = text_field_tag :catch, "", placeholder:"キャッチ数", size:"35", class:"form-control"
  .form-group
    = label :text, "何か一言どうぞ(空欄可)"
    = text_area_tag :text, "", placeholder:"一言どうぞ !!", size:"50x5", class:"form-control"
  = submit_tag "登録する", class:"btn btn-primary"
- if flash[:notice]
  %p= flash[:notice]
%h2 説明
%ol
  %li 同じ技を記録できるのは、1日1つまでです。
  %li 技名と日付が重複している場合には、あとから登録したキャッチ数で上書きされます。
  %li 楽しくご利用ください！
  %li 100,000キャッチ以上は管理者の承認が必要です。
  %li 単位はキャッチ数を採用しています。
  %li 時間で測っていた時は、大体のキャッチ数を入力し、一言に時間を入れてください。
