%h2 この記録の詳細
= render partial:"tricks/detail", locals: { records: @records }
%h3 メニュー
%p
  = link_to graph_records_path(number: @record.number, category_id: @record.category_id, trick_id: @record.trick_id, user_id: @record.user.id) do
    = fa_icon "bar-chart"
    %span グラフで見る
%p
  = link_to new_record_comment_path(@record) do
    = fa_icon "pencil-square-o"
    %span コメントを書く
%p
  - if user_signed_in? && @record.user == current_user
    = link_to "/records/#{@record.id}", method: :delete, data: { confirm: "削除してよろしいですか？"} do
      = fa_icon "bomb"
      %span 記録を削除する
%br
%h3 この投稿へのコメント
%table.table
  %tr
    %th Day
    %th Name
    %th Comment
  - @comments.each do |comment|
    %tr
      %td= comment.created_at.strftime("%Y-%m-%d")
      %td
        = link_to "#{comment.user.name} さん", user_path(comment.user)
      %td #{comment.text}
