= provide(:title, "ログイン")

%h2 お持ちのアカウントでログインする
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    .field
      = f.label :email, "メールアドレス"
      = f.email_field :email, autofocus: true, class:"form-control"
  .form-group
    .field
      = f.label :password, "パスワード"
      = f.password_field :password, autocomplete: "off", class:"form-control"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me, "パスワードを保存する"
      %br/
      %br/
  .actions
    = f.submit "ログインする", class: "btn btn-primary"
    %br/
    %br/
= render "devise/shared/links"
