.message.bg-info
  %div
    %span.minus
      %span
        = fa_icon "minus-circle"
      %span.text-info 通知
    %ul
      - if user_signed_in?
        - if notices.present?
          - notices.each do |notice|
            - if notice.notice_type == 1
              = link_to article_path(notice.article) do
                %li
                  %span= notice.created_at.strftime("%Y-%m-%d %H:%M")
                  %span=  "#{notice.user.name}さんがあなたの記事「#{notice.article.title} 」にコメントしました。"
            - if notice.notice_type == 2
              = link_to record_path(notice.record) do
                %li
                  %span= notice.created_at.strftime("%Y-%m-%d %H:%M")
                  %span= "#{notice.user.name}さんがあなたの#{notice.record.number} #{notice.record.category.material} #{notice.record.trick.name} #{notice.record.catch}キャッチについてコメントしました。"
        - else
          %p 新しい通知はありません。
      - else
        %ul
          %li ログインしていません。
          %li
            = link_to new_user_registration_path do
              =fa_icon 'user-o'
              %span ユーザー登録
          %li
            = link_to new_user_session_path do
              =fa_icon 'user-circle'
              %span ログインする
